@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: Oswald;
        src: url(/dist/fonts/Oswald/static/Oswald-Bold.ttf) format("​ truetype​ ");
    }
    body {
        background-color: rgb(250, 250, 250);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23c4e2c4' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
    }
    .container {
        background-color: rgb(250, 250, 250);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23c8e410' fill-opacity='0.5' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    h1 {
        @apply mb-5 text-2xl md:text-3xl lg:text-5xl font-headline text-mainColor dark:text-yellow-200;
    }
    h2 {
        @apply mb-3 text-lg md:text-2xl lg:text-3xl font-headline text-mainColor dark:text-yellow-200;
    }
    h3 {
        @apply mb-4 md:mb-2 text-lg md:text-2xl font-headline text-mainColor dark:text-yellow-200;
    }
    p {
        @apply text-base md:text-xl 2xl:text-2xl dark:text-gray-100;
    }
    li {
        @apply mb-2 text-base md:text-lg dark:text-gray-100;
    }
    .btn{
        @apply rounded shadow-sm transition hover:shadow-none p-2 dark:text-white;
    }
    .btn-icon {
        @apply flex items-center
    }
    .btn-gray {
        @apply bg-gray-300 hover:bg-gray-400 dark:bg-gray-400 dark:hover:bg-gray-500;
    }
    .btn-indigo {
        @apply bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-400 dark:hover:bg-indigo-500;
    }
}